<div class="container">
  <!-- contenedor de Movimiento -->
  <div class="row">
    <div class="col-12 text-center">
      <h2 style="font-family: 'Times New Roman', Times, serif; text-align: center; font: bolder">Bitacora de
        movimiento</h2>
      <br>
      <input type="submit" value="UltimosDiez" class="btn btn-outline-warning" (click)="getLastTen()" />
      <br>
      <br>
      <input type="text" name="from"[(ngModel)]="from" class="form-control" placeholder="Desde" required pattern="[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9])">
      <input type="text" name="to" [(ngModel)]="to" class="form-control" placeholder="Hasta" required pattern="[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9])">
      <input type="submit" value="Verificar" class="btn btn-outline-warning" (click)="getRangoFechas(from,to)" />
  
     
      <br><br>
      <div class="col-6 offset-3">

     </div>
      <br><br>
      <table class="table" id="tabla" >
        <thead class="thead-dark">
          <tr>
            <th scope="col">id</th>
            <th scope="col">Estado</th>
            <th scope="col">Movimiento detectado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dato of datos">
            <td>{{dato.id}}</td>
            <td>{{dato.estado}}</td>
            <td>{{dato.created_at}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
